lvgl:
  pages:
    - id: page_settings
      skip: False
      bg_color: color_black
      scrollable: False
      widgets:
        - obj:
            y: 43
            width: 320
            height: 380
            align: TOP_LEFT
            pad_all: 0
            bg_opa: TRANSP
            border_opa: TRANSP
            scrollable: False
            widgets:
              - tileview:
                  id: id_lv_tile_settings_main
                  y: 0
                  width: 320
                  height: 100%
                  align: TOP_LEFT
                  pad_all: 0
                  bg_opa: TRANSP
                  border_opa: TRANSP
                  tiles:
                    # General settings tile (migrated from home tile)
                    - id: id_lv_tile_settings_general
                      pad_all: 4
                      pad_right: 14
                      row: 0
                      column: 0
                      dir: BOTTOM
                      scrollable: False
                      layout:
                        type: GRID
                        grid_columns: [100%]
                        grid_rows: [FR(5), FR(5), FR(10), FR(2)]
                        pad_row: 24
                      widgets:
                        - obj:
                            id: id_lvgl_obj_backlight_brightness
                            grid_cell_column_pos: 0
                            grid_cell_row_pos: 0
                            grid_cell_x_align: STRETCH
                            grid_cell_y_align: STRETCH
                            align: CENTER
                            bg_opa: TRANSP
                            border_opa: TRANSP
                            shadow_opa: TRANSP
                            pad_all: 0
                            layout:
                              type: GRID
                              grid_columns: [100%]
                              grid_rows: [FR(1), FR(2)]
                            widgets:
                              - label:
                                  grid_cell_column_pos: 0
                                  grid_cell_row_pos: 0
                                  grid_cell_x_align: STRETCH
                                  grid_cell_y_align: STRETCH
                                  align: TOP_MID
                                  bg_opa: TRANSP
                                  long_mode: WRAP
                                  text_font: lato_18
                                  text_color: color_white
                                  text_align: CENTER
                                  text_decor: UNDERLINE
                                  text: "${i18n_brightness_label}"
                              - obj:
                                  grid_cell_column_pos: 0
                                  grid_cell_row_pos: 1
                                  grid_cell_x_align: STRETCH
                                  grid_cell_y_align: STRETCH
                                  align: TOP_MID
                                  bg_opa: TRANSP
                                  border_opa: TRANSP
                                  shadow_opa: TRANSP
                                  pad_all: 0
                                  layout:
                                    type: GRID
                                    grid_columns: [FR(10), FR(74), FR(16)]
                                    grid_rows: [100%]
                                  widgets:
                                    - label:
                                        align: LEFT_MID
                                        grid_cell_column_pos: 0
                                        grid_cell_row_pos: 0
                                        grid_cell_x_align: STRETCH
                                        grid_cell_y_align: STRETCH
                                        pad_top: -2
                                        text_font: icons_30
                                        text_color: color_white
                                        text: "${illumination}"
                                    - obj:
                                        grid_cell_column_pos: 1
                                        grid_cell_row_pos: 0
                                        grid_cell_x_align: STRETCH
                                        grid_cell_y_align: STRETCH
                                        align: TOP_MID
                                        bg_opa: TRANSP
                                        border_opa: TRANSP
                                        shadow_opa: TRANSP
                                        pad_all: 0
                                        layout:
                                          type: GRID
                                          grid_columns: [100%]
                                          grid_rows: [FR(1), FR(5), FR(1)]
                                        widgets:
                                          - slider:
                                              id: id_lv_slider_backlight_brigthness
                                              grid_cell_column_pos: 0
                                              grid_cell_row_pos: 1
                                              grid_cell_x_align: STRETCH
                                              grid_cell_y_align: STRETCH
                                              align: TOP_MID
                                              pad_left: 8
                                              pad_right: 8
                                              min_value: 1
                                              max_value: 100
                                              indicator:
                                                arc_width: 40
                                              knob:
                                                shadow_opa: COVER
                                                shadow_color: color_dark_gray
                                                shadow_width: 20
                                              on_change:
                                                then:
                                                  - light.turn_on:
                                                      id: id_light_backlight_brightness
                                                      brightness: !lambda return x / 100.0;
                                                      transition_length: 0ms
                                                      color_mode: BRIGHTNESS
                                    - label:
                                        id: id_lv_lab_backlight_brightness
                                        grid_cell_column_pos: 2
                                        grid_cell_row_pos: 0
                                        grid_cell_x_align: STRETCH
                                        grid_cell_y_align: STRETCH
                                        align: RIGHT_MID
                                        bg_opa: TRANSP
                                        border_opa: TRANSP
                                        shadow_opa: TRANSP
                                        pad_all: 0
                                        text_font: lato_18
                                        text_color: color_white
                                        text_align: CENTER
                                        text: ""
                        - obj:
                            grid_cell_column_pos: 0
                            grid_cell_row_pos: 1
                            grid_cell_x_align: STRETCH
                            grid_cell_y_align: STRETCH
                            align: CENTER
                            bg_opa: TRANSP
                            border_opa: TRANSP
                            shadow_opa: TRANSP
                            pad_all: 2
                            layout:
                              type: GRID
                              grid_columns: [FR(1), FR(1)]
                              grid_rows: [100%]
                              pad_column: 8
                            widgets:
                              - button:
                                  grid_cell_column_pos: 0
                                  grid_cell_row_pos: 0
                                  grid_cell_x_align: STRETCH
                                  grid_cell_y_align: STRETCH
                                  align: LEFT_MID
                                  shadow_color: color_gray
                                  shadow_opa: COVER
                                  shadow_width: 6
                                  shadow_spread: 1
                                  on_press:
                                    then:
                                      - button.press: id_button_restart
                                  widgets:
                                    - label:
                                        align: CENTER
                                        bg_opa: TRANSP
                                        long_mode: WRAP
                                        text_font: lato_18
                                        text_color: color_white
                                        text_align: CENTER
                                        text: "${i18n_restart}"
                              - button:
                                  grid_cell_column_pos: 1
                                  grid_cell_row_pos: 0
                                  grid_cell_x_align: STRETCH
                                  grid_cell_y_align: STRETCH
                                  align: LEFT_MID
                                  shadow_color: color_gray
                                  shadow_opa: COVER
                                  shadow_width: 6
                                  shadow_spread: 1
                                  on_press:
                                    then:
                                      - button.press: id_button_safe_mode
                                  widgets:
                                    - label:
                                        align: CENTER
                                        bg_opa: TRANSP
                                        long_mode: WRAP
                                        text_font: lato_18
                                        text_color: color_white
                                        text_align: CENTER
                                        text: "${i18n_restart_safe}"
                        - obj:
                            grid_cell_column_pos: 0
                            grid_cell_row_pos: 2
                            grid_cell_x_align: STRETCH
                            grid_cell_y_align: START
                            align: TOP_MID
                            bg_opa: TRANSP
                            border_opa: COVER
                            border_width: 2
                            border_color: color_white
                            pad_all: 8
                            scrollable: True
                            clip_corner: True
                            layout:
                              type: GRID
                              grid_columns: [100%]
                              grid_rows: [FR(4), FR(5)]
                            widgets:
                              - label:
                                  grid_cell_column_pos: 0
                                  grid_cell_row_pos: 0
                                  grid_cell_x_align: STRETCH
                                  grid_cell_y_align: STRETCH
                                  align: TOP_MID
                                  bg_opa: TRANSP
                                  text_font: lato_24
                                  text_color: color_white
                                  text_align: CENTER
                                  text: "${i18n_wifi_info}"
                                  text_decor: UNDERLINE
                              - label:
                                  id: id_lv_lab_wifi_info_text
                                  grid_cell_column_pos: 0
                                  grid_cell_row_pos: 1
                                  grid_cell_x_align: STRETCH
                                  grid_cell_y_align: STRETCH
                                  bg_opa: TRANSP
                                  long_mode: WRAP
                                  text_font: lato_18
                                  text_color: color_white
                                  text_align: LEFT
                                  text: ""

                    # Device info tile
                    - id: id_lv_tile_settings_device_info
                      pad_all: 4
                      pad_right: 14
                      row: 1
                      column: 0
                      dir: TOP
                      scrollable: False
                      layout:
                        type: GRID
                        grid_columns: [100%]
                        grid_rows: [FR(6), FR(3)]
                      widgets:
                        - obj:
                            align: CENTER
                            grid_cell_column_pos: 0
                            grid_cell_row_pos: 0
                            grid_cell_x_align: STRETCH
                            grid_cell_y_align: STRETCH
                            bg_opa: TRANSP
                            border_opa: TRANSP
                            pad_all: 1
                            widgets:
                              - obj:
                                  align: CENTER
                                  width: 100%
                                  height: 100%
                                  bg_opa: TRANSP
                                  scrollable: True
                                  border_opa: COVER
                                  border_width: 2
                                  border_color: color_white
                                  pad_all: 0
                                  scrollbar:
                                    opa: 100%
                                  widgets:
                                    - label:
                                        id: id_lv_lab_debug_device_info
                                        bg_opa: TRANSP
                                        long_mode: WRAP
                                        text_font: lato_18
                                        text_color: color_white
                                        text_align: LEFT
                                        text: ""
                        - obj:
                            align: CENTER
                            grid_cell_column_pos: 0
                            grid_cell_row_pos: 1
                            grid_cell_x_align: STRETCH
                            grid_cell_y_align: STRETCH
                            bg_opa: TRANSP
                            border_opa: TRANSP
                            pad_all: 1
                            pad_bottom: 9
                            widgets:
                              - obj:
                                  align: CENTER
                                  width: 100%
                                  height: 100%
                                  bg_opa: TRANSP
                                  border_opa: COVER
                                  border_width: 2
                                  border_color: color_white
                                  pad_all: 0
                                  scrollable: False
                                  widgets:
                                    - label:
                                        id: id_lv_lab_debug_heap_free
                                        y: 0
                                        height: 25
                                        width: 300
                                        bg_opa: TRANSP
                                        text_font: lato_18
                                        text_color: color_white
                                        text_align: LEFT
                                        long_mode: SCROLL
                                        text: ""
                                    - label:
                                        y: 25
                                        id: id_lv_lab_debug_psram_free
                                        height: 25
                                        width: 300
                                        bg_opa: TRANSP
                                        text_font: lato_18
                                        text_color: color_white
                                        text_align: LEFT
                                        long_mode: CLIP
                                        text: ""
                                    - label:
                                        y: 50
                                        id: id_lv_lab_debug_loop_time
                                        height: 50
                                        width: 300
                                        bg_opa: TRANSP
                                        text_font: lato_18
                                        text_color: color_white
                                        text_align: LEFT
                                        long_mode: SCROLL
                                        text: ""


        - button:
            x: 0
            y: 0
            width: 80
            height: 50
            bg_opa: TRANSP
            shadow_opa: TRANSP
            radius: 0
            align: BOTTOM_LEFT
            widgets:
              - label:
                  x: 5
                  y: -5
                  pad_all: 0
                  text_font: montserrat_22
                  text_color: color_gray
                  text: "ï€•"
            on_press:
              then:
                - lvgl.page.show:
                    id: page_home
                    animation: FADE_OUT
                    time: 300ms
                - delay: 300ms